.jumbotron
{
  position:relative;
  background-image: url('../images/bg2.jpg') ;
  opacity: 0.4;
  background-attachment: :fixed;
  background-size: cover;
  min-height:400px;
  margin-top: 0px;
  margin-bottom: 8px;
}

.navbar {
    background-color: black;
    opacity: 0.4;
    background-blend-mode: lighten;
    border-bottom: transparent;
  }

.navbar-invert .navbar-nav > li > a {
    color:#FFF;
  }

.navbar-invert .navbar-nav > li > a:hover,
.navbar-invert .navbar-nav > li > a:focus {
  background-color: transparent;

}
.navbar-invert .navbar-nav > .active > a,
.navbar-invert .navbar-nav > .active > a:hover,
.navbar-invert .navbar-nav > .active > a:focus{
  color: #FFF;

}
.navbar-invert .navar-text {
  color:#FFF;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
}
p, div {
    font-family: 'Lobster', cursive;
}

.bg-olive
{
  background-color: ##000000;
}
